@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
@font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
}
body{
    display:flex;
    flex-direction: column;
    background-color: #fcf4d9;
    
}
h1{
    margin: 0;
    font-family: 'Rocher';
    font-palette: --Mint;
    text-align: center;
    font-size: 58px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
}
#black,
#colorful,
#erase,
#darken{
    font-family: 'Rocher';
    font-size: 20px;
    margin: 7px;
    border-radius: 4px;
    cursor: pointer;
}
#colorful:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
}
#black:hover{
    background-color: black;
    animation:slidebg 5s linear infinite;
}
#darken:hover {
    background-image: linear-gradient(90deg, #f7f7f7 0%, #eeeeee 25%, #929aab 65%, #393e46 100%);
    animation:slidebg 5s linear infinite;
}
#erase:hover{
    background-color: #ec729c;
    animation:slidebg 5s linear infinite;
}
#sliderContainer{
    display: flex;
    justify-content: center;
    font-family: 'Rocher';
    font-palette: --Mint;
}
#container{
    display: grid;
    margin: 20px auto;
    width: 500px;
    height: 500px;
    background-color: #8ed2c9;
    border: 8px solid #d55b3e;
}
.gridItem {
    background-color: #ffebb7;
    text-align: center;
    border: 0.3px ridge black;
}
.gridItem.black{
    background-color: black;
}
.gridItem.colorful{
    background-color: var(--color);
}
.gridItem.darken {
    background-color: lightgray;
}